<div id="wrap">
    <span class="title">Hello!</span>
    <div class="user">
        <form 
        <input type="text" value="code"/>
        <input type="button" class="btn" onclick=" location.href='/KNUP/user/login'" value="LOGIN"/>
    </div>
</div>