<link rel="stylesheet" type="text/css" href="/css/printButton.css" />






<h1 style="text-align: center;">프린트 할 파일을 선택해주세요</h1>
<h1 style="text-align: center;">↙↙↙↙↙↙↙↙↙↙</h1>

   

<div class="wrap">
<% for(var i = 0; i < length ; i++){ %>
    <form action="/api/print/preview" method="POST">
        <input type="hidden" name="filename" value="<%=filepath[i]%>">
        <input class ="button" type="submit" value="<%=filelist[i]%>">
    </form>
    <br>
<% } %>
<div>