<div id="wrap">
    <span class="title">Hello!</span>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/KNUP/printForm'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/KNUP/printForm'" value="프린트하기"/>
        <input type="button" class="btn" onclick=" location.href='/KNUP/signup'" value="SIGNUP"/>
    </div>
</div>