<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <title>KNUP</title>
    <style>
       

        body {
            font: 300 15px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-color:skyblue;
        }
        
        h1 {
            margin-bottom: 20px;
            color:black;
            text-transform: uppercase;
            font-size: 100px;
            font-weight: 100;
            letter-spacing: 30px;
            text-shadow: 3px 3px 5px #000;
            text-align: center;
        }
        #kakao-login {
            text-align: center;

        }
    </style>
</head>    
<body>
    <h1>KNUP</h1>

        <div id="kakao-login">
            <a href="/KNUP/select" style="font-size:large;">카카오톡 로그인</a>
        </div>

</body>

</html>
