<div id="wrap">
    <span class="title">Hello!</span>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/KNUP/printForm'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/KNUP/printForm'" value="프린트신청하기"/>
        <input type="button" class="btn" onclick=" location.href='/KNUP/signup'" value="SIGNUP"/>
        <input type="button" class="btn" onclick=" location.href='/KNUP/print'" value="프린트하기"/>
    </div>
</div>

<div>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=7e5d1c5a3647aead2c2abadcedbe6754&redirect_uri=http://localhost:3000/KNUP&response_type=code">LogIn</a>
</div>