<form action='https://kauth.kakao.com/oauth/authorize?' method="GET" >   
    <button>
        <img src='/img/kakao_login.png'>
    </button>
    
    <input type="hidden" name="client_id" value="7e5d1c5a3647aead2c2abadcedbe6754">
    <input type="hidden" name="redirect_uri" value="http://localhost:3000/api/kakao/login">
    <input type="hidden" name="response_type" value="code">
    <input type="hidden" name="scope" value = "account_email, profile, talk_message">

</form>

