<script>
    function numberMaxLength(e) {
        if(e.value.length > e.maxLength) {
            e.value = e.value.slice(0, e.maxLength)
        }
    }
    function validate(){
        form = document.frm
        code = form.code.value;
        
        if(code.length == 6){
            form.submit()
        } else {
            alert('인증코드의 길이를 확인해주세요')
        }
    }
</script>

<div>
    <form name="frm" action="/api/print/filelist" method="POST">
        <input type="number" name="code" maxLength="6" oninput="numberMaxLength(this);">
        <input type="button" onclick="validate()" value="인증">
    </form>
</div>