<html>
  <head>
    <br><br>
    <br><br>
    <br><br>
  </head>
  <body style="background-color:#47a3da">
    
    <h1 style="text-align: center">
      <form action="/api/kakao/sendCode" method="POST">
        <p style="font-size: 200%"> 인증 코드</p>
        <!-- <p style="font-size: 200%"> <%=code %></p> -->
        <button> 내 카카오톡으로 인증코드 보내고 홈으로 돌아가기</button>

      </form>
    </h1>
  </body>
</html>