<html>
<head>
  <br><br>
  <br><br>
  <br><br>
</head>
  <body style="background-color:#47a3da">
    <h1 style="text-align: center">
      <p style="font-size: 200%"> 인증 코드</p>
      <p style="font-size: 200%"> <%=code %></p>
      
    </h1>


    <h2 style="text-align: center">
    <a href='/KNUP'>초기화면으로 돌아가기</a>
    </h2>
  </body>
</html>